
@model int[,]

@section scripts{
<script>

    function collectbuttonsvalue()
    {

        inputs = document.getElementsByTagName('input');
        for (index = 0; index < inputs.length; ++index) {
            if (index == 0)
                x = inputs[index].value;
            else
             x= x + ',' + inputs[index].value;
        }
       // alert(x);
        return x;
    }

    function displayboard(table,size) {
        ht0 = "<Form><table>";
        ht2 = ''
        ht1 = '';
        for (x = 0; x <= size-1 ; x++) {
         
            ht1 = ht1 + "<tr>";
            for (y = 0; y <= size-1 ; y++) {
                if (table[y][x] == -1)
                    {
                    ht1 = ht1 + "<td><input type='button' style='height:100px;width:100px;background-color:black;' id='" + x + "." + y + "' onclick='movetile(this.id)' value='" + table[y][x] + "' /></td>";
                }
                else
                {

                    ht1 = ht1 + "<td><input type='button' style='height:100px;width:100px;' id='" + y + "." + x + "' onclick='movetile(this.id)' value='" + table[y][x] + "' /></td>";

                }
                }
            ht1 = ht1 + "</tr>";
         //   ht2 = ht2 +  "<tr>" + ht1 + "</tr>";

        }
        ht3 = "</table></Form>";
        return ht1;
    }
    function movetile(id)
    {

        $.ajax({
            url: '/home/move2',
            type: 'GET',
            data: 'position=' + id + '&arr=' + collectbuttonsvalue(),
            error: function (request, error) {
                alert(" Can't do because: " + error);
            },
            success: function (data) {
                //called when successful
              //  alert(displayboard(data));
                // $('#board').html(data);
                if (data == "Well done")
                {
                    $('#board').html(data)
                
                }
                else
                {
                //alert(data.length);
                $('#board').html(displayboard(data, data.length));
               }
            },
            error: function (e) {
                //called when there is an error
                //console.log(e.message);
            }
        });

    }
</script>}
<form>
    <div id="board" >
        <table>

            @for (int row = 0; row <= Model.GetUpperBound(0); row++)
            {
                <tr>
                    @for (int column = 0; column <= Model.GetUpperBound(1); column++)
                {
                        @if (@Model[column, row] == -1)
                        {
                            <td><input type="button" style="height:100px;width:100px;background-color:black;" id="@column.@row" onclick="movetile(this.id);" value="@Model[column, row]" />   </td>
                        }
                        else
                        {
                            <td><input type="button" style="height:100px;width:100px;" id="@column.@row" onclick="movetile(this.id);" value="@Model[column, row]" />   </td>


                        }
                    }
                </tr>
            }
        </table>
        </div>
</form>